@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "panelesSolares";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paneles Solares</title>
    <style>
        .card {
            border: none;
        }
    </style>
</head>
<body>

    <div class="subtitulo text-center p-4">
        <h2>Soluciones en energía renovable</h2>
    </div>
    <br>
    <br>
    <br>

    <div class="card mb-3 align-content-center">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/lib/foto 1.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title"> Ahorro energético, protección y ecología ✅</h4>
                    <br>
                    <h4 class="card-title"> Ahorra dinero en tus facturas de energía ✅</h4>
                    <br>
                    <h4 class="card-title"> Utiliza energía renovable ayudando al medio ambiente ✅</h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="card mb-3 align-content-center">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h4>Kit Solar adaptable para:</h4>
                    <ul>
                        <li>
                            <h4> ✅ Autoconsumo</h4>
                        </li>
                        <li>
                            <h4> ✅ Casa Rural, con o sin acceso a la RED eléctrica</h4>
                        </li>
                        <li>
                            <h4> ✅ Casa de fin de semana, con o sin acceso a la RED eléctrica</h4>
                        </li>
                        <li>
                            <h4>  ✅  Climatización de piscinas</h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/lib/foto 2.png" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="subtitulo text-center p-4">
        <h2>Nuestros servicios</h2>
    </div>
    <br>
    <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="~/lib/instalacion 1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Instalación de equipos</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/lib/componentes.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Provisión de componentes</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/lib/mantenimiento.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento preventivo</h5>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
